p {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 10;
	
	font-size: 15px;
	font-family: 'benthamregular', serif;
	color: #fff;
	text-align: center;
	
	opacity: 0;
}

h1 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 10;
	
	font-size: 25px;
	font-family: 'benthamregular', serif;
	text-align: center;
	
	opacity: 0;
}

.stickleft {
	width: 150px;
	left: 50%;
	margin-left: -160px; /*= width + 10px margin */
	
	text-align: right;
}

.stickright {
	width: 150px;
	left: 50%;
	margin-left: 10px; /*= 10px margin */
	
	text-align: left;
}

.quickmobilefix {
	top: 250px !important;
}

/*= Sun
************************************/
article .section-sun .p1 {
	top: 130px;
}

article .section-sun .p2 {
	top: 130px;
}

/*= Earth
************************************/
article .section-earth .p1 {
	width: 150px;
	top: 200px;
}

/*= Ocean
************************************/
article .section-ocean .p1 {
	margin-left: -130px;
}

article .section-ocean .p2 {
	margin-left: -127px;
}

article .section-ocean .p3 {
	top: 412px;
}

.background .section-ocean .salt {
	left: 50px;
}

.background .section-ocean .terrain-right {
	left: -100px;
}

/*= Animal
************************************/
article .section-animal .p1 {
	top:700px;
	margin-left:-130px;
	text-align: left;
}

article .section-animal .p2 {
	top: 297px;
	left:145px;
}

.background .section-animal .g2 {
	top: 311px;
	left: -197px;
}

.background .section-animal .terrain-left {
	top: 115px;
}

.background .section-animal .shrub {
	top: 670px;
	left: 70px;
}

.background .section-animal .goat {
	left: 70px;
}

.background .section-animal .web {
	width: 200px;
	top: 757px;
	left: -200px;
}

/*= Human
************************************/
article .section-human .p1,
article .section-human .p2,
article .section-human .p3,
article .section-human .p4 {
	width:300px;
	left: 50%;
	margin-left: -150px;
	
	text-align: center;
}

article .section-human .p1 {
	width: 200px;
	margin-left: -100px;
}

.background .section-human .xray {
	left: -100px;
	width: 200px;
	height: 290px;
}

.background .section-human .xray .bones {
	width: 100px;
	left: 50%; 
	top: 100%;
	margin-left: -50px;
}

.background .section-human .xray .machine {
	max-width: 100%;
}

.background .section-human .humanhand {
	left: -100px;
	top: 990px;
	width: 200px;
	height: 290px;
}

.background .section-human .humanhand .hand {
	width: 100px;
	left: 50%; 
	top: 0;
	margin-left: -50px;
}

.background .section-human .heart {
	width: 130px;
	left: -75px;
	top: 1200px;
}

.background .section-human .stomach {
	width: 130px;
	left: -75px;
	top: 1459px;
}

.background .section-human .bloodvessels {
	left: -88px;
	width: 340px;
}

.background .section-human .water {
	left: -100px;
	top: 2767px;
	width: 200px;
}

.background .section-human .scale {
	left: -100px;
	width: 200px;
}

/*= Wonder
************************************/
.background .section-wonder {
	height: 1000px;
}

article .section-wonder p {
	width: 300px;
	margin-left: -150px;
	
	line-height: 12px;
}

article .section-wonder .p1 {
	width: 300px;
	margin-left: -150px;
	left: 50%;
	padding-top: 86px;
	text-align: center;
}

article .section-wonder p.orange {
	top: 210px;
}

.background .section-wonder .wonder {
	top: 840px;
	width: 300px;
	margin-left: -150px;
}

.background .section-wonder .tree {
	top: 346px;
}

/*= Info
************************************/
article .section-info {
	top: 14600px;
}
article .section-info .times {
	width: 300px;
	margin-left: -139px;
}
