p {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 10;
	
	font-size: 15px;
	font-family: 'benthamregular', serif;
	color: #fff;
	text-align: center;
	
	opacity: 0;
}

h1 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	z-index: 10;
	
	font-size: 25px;
	font-family: 'benthamregular', serif;
	text-align: center;
	
	opacity: 0;
}

.stickleft {
	width: 150px;
	left: 50%;
	margin-left: -160px; /*= width + 10px margin */
	
	text-align: right;
}

.stickright {
	width: 150px;
	left: 50%;
	margin-left: 10px; /*= 10px margin */
	
	text-align: left;
}

.quickmobilefix {
	top: 250px !important;
}

/*= Earth
************************************/
article .section-earth .p1 {
	width: 150px;
	top: 200px;
}

/*= Ocean
************************************/
.background .section-ocean .salt {
	left: 50px;
}

.background .section-ocean .terrain-right {
	left: -100px;
}

/*= Animal
************************************/
article .section-animal .p1 {
	top:700px;
	margin-left:-130px;
	text-align: left;
}

article .section-animal .p2 {
	left:145px;
}

.background .section-animal .g1 {
	top: 750px;
	left: -220px;
}

.background .section-animal .shrub {
	top: 670px;
	left: 70px;
}

.background .section-animal .goat {
	left: 70px;
}

.background .section-animal .web {
	width: 200px;
	top: 900px;
	left: -200px;
}