html, body {
	width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
}

.viewport {
	width: 100%;
	
	-webkit-perspective: 1000px;
	-webkit-perspective-origin-x: 0;
	-webkit-perspective-origin-y: 0;
	-webkit-transform-style: preserve-3d;
	
	-moz-perspective: 1000px;
	-moz-perspective-origin-x: 0;
	-moz-perspective-origin-y: 0;
	-moz-transform-style: preserve-3d;
	
	-ms-perspective: 1000px;
	-ms-perspective-origin-x: 0;
	-ms-perspective-origin-y: 0;
	-ms-transform-style: preserve-3d;
	
	-o-perspective: 1000px;
	-o-perspective-origin-x: 0;
	-o-perspective-origin-y: 0;
	-o-transform-style: preserve-3d;
	
	perspective: 1000px;
	perspective-origin-x: 0;
	perspective-origin-y: 0;
	transform-style: preserve-3d;
}

.experience section {
	position: relative;
}

[data-z] {
	position: absolute;
	-webkit-transition: all 1s ease-in-out;
}

/*= Sun
************************************/
.section-sun p {
	position: absolute;
	width: 200px;
}

.section-sun p.stickleft {
	left: -250px; /*= width + 50px margin */
}

.section-sun p.stickright {
	left: 50px; /*= 50px margin */
}

.section-sun p.stickcenter {
	left: -100px; /*= -width/2 */
}

.section-sun .sun {
	position: absolute;
	left: -241px;
	top: 1000px;
}

.section-sun .sun.hot {
	display: none;
}

.section-sun p:first-child {
	width: 200px;
	left: -100px;
	top: 200px;
}

/*= Earth
************************************/
.section-earth p {
	position: absolute;
	width: 200px;
}

.section-earth h1 {
	position: absolute;
	width: 400px;
	left: -200px;
	
	text-align: center;
}

.section-earth p.stickleft {
	left: -250px; /*= width + 50px margin */
}

.section-earth p.stickright {
	left: 50px; /*= 50px margin */
}

.section-earth p.stickcenter {
	left: -100px; /*= -width/2 */
}

.section-earth .earth {
	position: absolute;
	left: -218.5px;
	top: 1000px;
}

.section-earth .earth.cold,
.section-earth .earth.frozen {
	opacity: 0;
}